body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 6em;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 2em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 2em;
    font-weight: bold;
}

ul.posts li {
    list-style: none;
    margin-bottom: 50px;
}

ul.posts li p {
  margin: 5px 40px;
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}

ul.posts li img {
  display: block;
  margin-top: 10px;
  width: 400px;
  object-fit: cover;
  border: 2px solid black;
}
.image_container{
  width: 400px;
}
.image_container:hover{
  opacity: 0.7;
}

page.mathjax {
  font-size: 3em;
}
